# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build outputs
# =========================
.next/
out/
dist/
build/

# Turbo
.turbo/

# =========================
# Environment files
# =========================
.env
.env.local
.env.*.local

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editors
# =========================
.vs/
.vscode/

# =========================
# Vercel
# =========================
.vercel/

# =========================
# Prisma
# =========================
prisma/*.db
prisma/*.db-journal

# =========================
# Playwright
# =========================
playwright-report/
test-results/

# =========================
# Coverage
# =========================
coverage/

# =========================
# Misc
# =========================
*.pem